header {
  margin-top: 10px;
  padding-bottom: 10px;
  border: solid 2px #5cb85c;
  border-radius: 10px;
}

.complete {
  background-color: #5cb85c;
  color: white;
}

.js-add-task {
  margin-top: 10px;
  margin-bottom: 20px;
}

.js-delete {
  float: right;
}

.js-complete {
  float: right;
}

.complete-cell {
  text-align: right;
  font-weight: bold;
}

th {
  font-size: 1.5em;
}

.table {
  border: solid 2px #5cb85c;
}
