header {
  margin-top: 10px;
  border: solid 2px black;
  border-radius: 20px;
}

.js-add-task {
  margin: 5px;
}

.taskTable {
  border-collapse: collapse;
}

tr td {
  /* border: solid 1px black; */
  padding: 5px 25px;
}
